@{
    ViewData["Title"] = "Admin dashboard";
}

<h1 class="text-white">All Guilds</h1>
<a class="btn btn-light btn-lg" asp-area="Administration" asp-controller="UserAdministration" asp-action="Index" asp-route-page="1">Users</a>
<a class="btn btn-light btn-lg" asp-area="Administration" asp-controller="Realms" asp-action="Create">Add Realm</a>
<hr />
