@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (this.User.Identity.IsAuthenticated)
    {
        @if (this.User.IsInRole("Admin"))
        {

            <h1 class="display-4 text-white">Welcome, Admin @this.User.Identity.Name</h1>
            <p class="text-white">Have fun with your guildies!</p>
        }
        else
        {
            <h1 class="display-4 text-white">Welcome @this.User.Identity.Name</h1>
            <p class="text-white">Have fun with your guildies!</p>
        }
    }
    else
    {
        <div class="mt-5">
            <h1 class="display-4 text-white font-weight-bold embiggen">Welcome</h1>
            <p class="text-white font-weight-bolder"><a href="/Identity/Account/Login" class="deco-none">Login</a> or <a href="/Identity/Account/Register" class="deco-none">Register</a> to meet your new guildies!</p>
        </div>
    }
</div>
