@using GuildComm.Web.Models.Home
@using GuildComm.Common.Constants

@model HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="mt-5">
        <h1 class="display-4 text-white font-weight-bold embiggen">Welcome to GuildComm</h1>
    </div>
    @(await Html.PartialAsync("GuildForm.cshtml", Model.Form))
    <hr />
</div>