<div class="text-center">
    <h1 class="display-4 text-white font-weight-bold embiggen">Reset Password Confirmation</h1>
    <p class="text-white">
        Your password has been reset. Please <a class="text-white" asp-controller="Account" asp-action="Login">click here to log in</a>.
    </p>
</div>