@using GuildComm.Web.ViewModels.Users
@model GuildCommUserDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-white">Profile Details</h1>
<hr class="hr-2">
<div class="mx-auto">
    <div class="d-flex">
        <h3 class="text-white">Usermame: @Model.Username</h3>
    </div>
    <hr class="hr-2">
    <div class="mt-4">
        <h4 class="text-white">Description:</h4>
        <div>
            <p class="text-white">@Model.Description</p>
        </div>
    </div>
    <a class="btn btn-dark" href="/Users/UpdateDescription" role="button">Update Description</a>

    <h1 class="text-center text-white">Characters</h1>
    <h1 class="text-center text-white">Guilds</h1>
    <hr class="hr-2">
    <a class="btn btn-danger" href="/Identity/Account/Manage/DeletePersonalData" role="button">Delete Account</a>
</div>