<div class="text-center">
    <h1 class="display-4 text-white font-weight-bold embiggen">Successful Registration</h1>
    <p class="text-white">
        Please check your email for the verification action.
    </p>
</div>
