<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GuildComm.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/guildComm.css" rel="stylesheet" />
</head>
<body class="bgimg">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GuildComm</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item active">
                            <a class="nav-link ml-auto" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" asp-area="" asp-controller="Guilds" asp-action="All" asp-route-page="1">All Guilds</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            @if (this.User.IsInRole("Admin"))
                            {
                                <li class="nav-item active">
                                    <a class="nav-link"asp-area="Administration" asp-controller="Administration" asp-action="Index" asp-route-page="1">Administration</a>
                                </li>
                            }
                            
                            <li class="nav-item active">
                                <a class="nav-link" href="/Guilds/Create">Register Guild</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/Characters/Register">Register Character</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/Users/Details">Profile</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/Identity/Account/Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="/Identity/Account/Login">Login</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/Identity/Account/Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white">
        <div class="container">
            &copy; 2020 - GuildComm - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
