@using GuildComm.Web.Models.Guild

@model GuildViewModel

<div class="text-center text-white">
    <p>Guild Name: @Model.Name</p>
    <p>Realm: @Model.Realm</p>
    <p>Members: @Model.MembersCount</p>
</div>